*{
    font-family: sans-serif;
}
body{
    background: whitesmoke;
}
.grid-container{
    display: flex;
    margin: 10px auto;
    height: 500px;
    width: 800px;
    overflow: hidden;
    border-radius: 10px;
}
.left{
    background: white;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.nina input{
    background: rgb(208, 219, 225);
    width: 80%;
    padding: 8px;
    border: 0px;
    border-radius: 5px;
    display: block;

}

button{
    background: orange;
    border: 1px;
    padding: 10px ;
    border-radius: 5px;
    margin: 20px;
    color: orange;
    font-weight: bold;
    color: white;
    width: 80%;
}
.right{
    background: orange;
    width: 100%;
    height: 100%;
    color: white;
    padding: 20px;
}
.right h3{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 30px, auto;
}